/*
// Color Palette
//Light Gray 
//Medium Gray 858585
//Brown 453A36 or 69,58,54
//Dark Gray 242122 or 36,33,34
//Dark Red 61041B or 97,4,27
//Medium Red B00731
//Light Red CD7C7C
//Yellow FFFF00
*/

body {
  //margin: 0px auto;
}
.tip_show_title {
  font-size: 160%;
  font-weight: bold;
}
.tip_show_title_user {
  font-size: 120%;
}
.tip_date {
  font-size: 80%;
}
.note {
  color:#858585;
  font-style: italic;
}
#logo {
  font-family: "Arial";
  font-size: 200%;
  color: #242122;
  padding: 5px;
  margin: 0;
}
#logo_team {
  color: #B00731;
}
#logo_line {
  margin: 5px;
  border: 0;
  background-color: #61041B;
  color: #61041B;
  height: 6px;
}
.inline_table {
  display: inline;
}
#login {
  position: absolute;
  right: 0px;
  top: 0px;
}
#login form, #login div, #login input {
  display: inline;
}
#login #username, #login #password {
  width: 5em;
}
/* Flash Messages */
#flash_div {
  position: absolute;
  left: 14em;
  top: 0px;
  font-size: 150%;
}
.flash_notice {
  padding: 5px;
  background: #00FF00;
}
.flash_warning {
  padding: 5px;
  background: #FFFF00;
}
.flash_error {
  padding: 5px;
  background: #FF0000;
}
/* Tip Search Formatting */
.search_table {
  width:100%;
}
.tip_title {
  background-color: #61041B;
  color: #FFFFFF;
  font-size: 120%;
}
.tip_title:hover {
  background-color: #B00731;
}
.tip_div_wrap {
  white-space: pre-wrap;
}
.tip_div_no_wrap {
  white-space: pre;
}
#tip_div {
  font-family: "Courier New", Courier, monospace;
}
.page_link {
  padding: 4px;
  border: 1px;
  margin: 2px;
  border-style: solid;
  font-size: 120%;
}
.selected_page_link {
  background-color: #B00731;
}
.selected_page_link A:visited {
  color: #FFFFFF;
}
A:link, A:visited, A:active, A:hover {text-decoration: none}
legend {
  font-size: 120%;
  color: #FFFFFF;
  background: #CD7C7C;
}
fieldset {
  background: #DDDDDD;
}
.footer_information {
  font-weight: bold;
  background: #DDDDDD;
  padding: 2px;
}
/*
// Color Palette
//Light Gray 
//Medium Gray 858585
//Brown 453A36 or 69,58,54
//Dark Gray 242122 or 36,33,34
//Dark Red 61041B or 97,4,27
//Medium Red B00731
//Light Red CD7C7C
*/
/*
.button {
  text-decoration: none;
  background-color: #B00731;
  color: #FFFFFF;
  padding: 10px;
}
A:link, A:visited, A:active, A:hover {text-decoration: none}
*/
